@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch+Pop&display=swap');

:root {
  --bg-color: #f8f3ec;
  interpolate-size: allow-keywords;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

body {
  background: var(--bg-color);
  overflow: overlay;
}

button, input, textarea, select {
  font-family: 'Oswald', sans-serif;
}

@keyframes fadepulsatefast {
  50% {
    filter: blur(1000px);
  }
  100% {
    filter: none;
  }
}

@keyframes fadepulsateslow {
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}