
:root {
  --bg-color: #f8f3ec;
}

* {
  font-family: 'Oswald', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  overflow: overlay;
}

@keyframes fadepulsatefast {

  50% {
    filter: blur(1000px);
  }
  100% {
    filter: none;
  }
}

@keyframes fadepulsateslow {

  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}