@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Manufacturing+Consent&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  --text-color: rgb(0, 0, 0);
  --bg-color: #f9faf9;
  --radar-bg: #3c5544;
  --radar-overlay: #33464d83;
  --footer-bg: #3c5544;
  --footer-text: #f9faf9;
  --accent-text: #000000;
  --cards-bg: #dfe8e2;
  --cards-text: unset;
  interpolate-size: allow-keywords;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  // overflow: auto !important;
}

.page-wrapper {
  transition: .18s ease-in !important;

  &.shifted {
    translate: -80%;
  }
}

button,
input,
textarea,
select {
  font-family: "Oswald", sans-serif;
}

@keyframes fadepulsatefast {
  50% {
    filter: blur(1000px);
  }
  100% {
    filter: none;
  }
}

@keyframes fadepulsateslow {
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.popup-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 36px;
  line-height: 34px;
  font-size: 14px;
  color: #ffffff;
  background-color: #007c89;
  transition:
    background-color 0.2s ease-in-out 0s,
    opacity 0.2s ease-in-out 0s;
  padding: 0 18px;
}

.popup-button :hover {
  color: #ffffff;
  background-color: #006570;
}

.swal2-popup.custom-swal-popup {
  width: 90vw !important;
  max-width: 800px;
  border-radius: 20px;
  padding: 2rem;

  h3 {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .last-updated {
    margin-top: 15px;
    font-size: 1.1rem;
    font-weight: bold;
  }

  @media (max-width: 850px) {
    padding: 0;
    padding-bottom: 20px;
  }
}
.prose {

  .simple-editor-content {
    max-width: none !important;
    padding: 0 !important;
  }

  h1 {
    font-size: 2.5rem !important;

    @media (max-width: 850px) {
      font-size: 1.8rem !important;
    }
  }
  
  h2 {
    font-size: 1.8rem !important;
    @media (max-width: 850px) {
      font-size: 1.5rem !important;
    }
  }

  p {
    font-size: large !important;
  }

  blockquote {
    font-style: italic;
  }

  li {
    margin-block: 0.3rem;
  }
}

.simple-editor-content .tiptap.ProseMirror {
  @media (max-width: 850px) {
    padding: 0 !important;
  }
}